  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  #local-video {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 350px;
    height: auto;
    z-index: 10;
    border: 2px solid white;
  }
  
  #remote-media-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #remote-media-area video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  #entrance {
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto;
    height: auto;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .back {
    /* ハートの背景に対応 */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    top: 10px;
    left: 10px; /* 左上に配置 */
    width: 100px;
    height: 100px; /* 高さを明示 */
    position: absolute;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center; /* 中央揃え */
    border-radius: 5px;
}

  #correlationChart {
    top: 10px;
    left: 10px;
    width: 20%;
    max-width: 30%;
    height: 20%;
    max-height: 30%;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    border-radius: 5px;
  }

@keyframes fadeUp {
    from {
        transform: translate(-50%, 50%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

.heart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    animation: fadeUp 1.5s ease-out forwards; /* 1.5秒かけてフェードアップ */
    object-fit: cover;
}



#zoomback {
  /* これを消す． */
  position: absolute;
  top: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0);
  /* めんどくさいから透明にして見えないようにした */
  /* 本来であれば，バツボタンなどをつけたほうがいいかな */

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: none;

}



.deka {

  animation:deka 0.3s ease-out;
  }
  
  @keyframes deka {
  
  from {
  
  transform:scale(0);
  }
  
  }